.base-layout {
  .logo {
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    color: #fff;
    font-size: 19px;
    img {
      width: 30px;
      margin-right: 12px;
      position: relative;
      top: -2px;
    }
  }
  &-header {
    position: relative;
    z-index: 201;
    height: 50px;
    line-height: 50px;
    display: flex;
    padding: 0 20px 0 0;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 0px;
    .trigger {
      text-align: center;
      width: 50px;
      line-height: 50px;
      height: 50px;
      cursor: pointer;
      color: rgb(23, 35, 61);
      margin-right: 10px;
    }
  }
}
